[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-curse {
  width: 0.6767578125em;
}

.icon-arrow {
  width: 0.5em;
}

.icon-graduation {
  width: 1.2861328125em;
}
