[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor !important;
  fill: currentColor !important;
}

.icon-arrow {
  width: 0.5em;
}

.icon-graduation {
  width: 1.2861328125em;
}
