if site.portfolio
  section.carousel
    .reel
      for page in site.portfolio
        article
          a.image.featured( href='/' + page.id )
            +resizedimage(page.picture || placeholder(), 360, 260)
          header
            h3
              a( href='/' + page.id )= page.title
          p!= md(page.summary)
    .forward
      +icon('arrow')
    .backward
      +icon('arrow')
