section.carousel
  .reel
    for page in site.portfolio
      article
        a.image.featured( href='/' + page.id )
          img( src='images/' + page.id + '.jpg' )
        header
          h3
            a( href='/' + page.id )= page.title
        p!= md(page.summary)
