section.carousel
  .reel
    for page in site.portfolio
      article
        a.image.featured( href='/' + page.id )
          +resizedimage(page.thumbnail || page.picture || 'assets/placeholder.jpg', 360, 260)
        header
          h3
            a( href='/' + page.id )= page.title
        p!= md(page.summary)
