doctype html
head
  title= site.basics.name
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='main.css')
  noscript
    link(rel='stylesheet' href='noscript.css')
      
body(itemtype="http://schema.org/Person")
  #page-wrapper
    include mixins.pug
    include header.pug
    if page.welcome
      include welcome.pug
    if page.title
      include content.pug
    include carousel.pug
    include footer.pug
    
  include scripted.pug
  script(src='scripts.js')
