mixin icon(name)
  svg( class="icon-" + name )
    use( xlink:href="icons.svg#icon-" + name )

mixin image(src)
  case src.split('.').pop()
    when 'webm' 
      video(autoplay loop muted playsinline)
        source(type="video/webm", src=src)
    when 'mp4'
      video(autoplay loop muted playsinline)
        source(type="video/mp4", src=src)
    when 'ogg'
      video(autoplay loop muted playsinline)
        source(type="video/ogg", src=src)
    default
      img(src=src)
        
mixin resizedimage(src, width, height)
  +image(resize && resize(src, width, height) || src)
        
mixin period(startDate, endDate)
  -
    const duration = moment.duration
    let start = moment(startDate)
    let end = moment(endDate)
    let dt = end.diff(start)
    
  = start.format('MMMM YYYY')
  if ( duration(dt).months() > 0 )
    = ' - ' + (endDate && end.format('MMMM YYYY') || 'Present')
    .clock
      +icon('clock')
      = duration(dt).humanize()
